.h-trend-paper {
  margin: 10px 5px 5px 200px;
  width: 25%;
}
.h-paper-title {
  font-weight: bold;
  font-size: 120%;
  float: left;
  clear: right;
  padding-left: 17px;
}
.h-status {
  color: #0084b4;
  margin-top: 3px;
  position: relative;
  top: 3px;
  font-size: 90%;
}
.h-trend-hashtag {
  color: #0084b4;
  padding-left: 17px;
  font-weight: bold;
  line-height: 80%;
}
.h-trend-hashtag:hover{
  text-decoration: underline;
  cursor: pointer;
}
.h-no-of-tweets {
  color:grey;
  font-size: 90%;
  padding-left: 17px;
  line-height: 80%;
  position: relative;
  top: -14px;
}
